<div id="content">

  <div class="column col_30">
    <div id="profile_polaroid">
      <a class="img_link" href="javascript:alert('User Interaction dialog');">
         <img src="/avatars/79d82a5c00372df2cd3748a989e65bdc.jpg" alt="" />
      </a>
      <p>Some text about me.</p>
      </div>

    <div class="more_profile_info">
      <ul>
        <li><strong>Location:</strong> City, ST</li>
        <li><strong>Joined On:</strong> August 1, 2009</li>
        <li><strong>Last Login:</strong> December 14, 2009</li>
      </ul>
    </div>

    <div id="user_activity_feed">
      <h2><a href="javascript:alert('Open Activity tab');">Recent Activity</a></h2>
      <ul>
        <li>Uploaded new images for <a href="javascript:;">Squidolin</a><br/>
          <span class="gray">November 9, 2012</span></li>
        <li>Started a new project called <a href="javascript:;">Squidolin</a><br/>
          <span class="gray">November 8, 2012</span></li>
        <li>Uploaded a new video for <a href="javascript:;">Squidolin</a><br/>
          <span class="gray">November 7, 2012</span></li>
        <li>Updated the description for <a href="javascript:;">WastED Paper Snowboard</a><br/>
          <span class="gray">November 6, 2012</span></li>
        <li>Commented on <a href="javascript:;">Somebody Else's Project</a><br/>
          <span class="gray">November 5, 2012</span></li>
      </ul>
      </div>
   </div>

   <div class="column col_70">

      <h1 class="top"><span class="gray">People:</span> User Name</h1>

      <div id="tab_container">
         <ul class="tabs">
            <li class="on"><a class="first" href="#projects_tab">Projects</a></li>
            <li><a href="#activity_tab">Activity</a></li>
            <li><a href="#about_tab">About</a></li>
            <li><a href="#portfolio_tab">Portfolio</a></li>
         </ul>
         <br class="clear" />

         <div id="projects_tab" class="anchor">

            <h2>Projects I'm Collaborating On&hellip;</h2>

            <div class="profile_preview gray_box rounded">
  <a href="/projects/single-barrel-detroit" class="img_link left"><img alt="Square_60_4f688166630f4f2f92679c3bf73219b8" height="60" src="/avatars/square_60_4f688166630f4f2f92679c3bf73219b8.jpg?1260216731" width="60" /></a>
  <div class="project_info">
    <h3><a href="/projects/single-barrel-detroit">Single Barrel Detroit</a></h3>
    <p class="date gray"><strong>Originated:</strong> December 07, 2009</p>
    <p class="date gray"><strong>Updated:</strong> December 07, 2009</p>
  </div>

  <br class="clear" />
</div><div class="profile_preview gray_box rounded">
  <a href="/projects/squidolin-learning-violin" class="img_link left"><img alt="Square_60_119fb6b3f87e81571424fe63af404720" height="60" src="/avatars/square_60_119fb6b3f87e81571424fe63af404720.jpg?1260216766" width="60" /></a>
  <div class="project_info">
    <h3><a href="/projects/squidolin-learning-violin">Squidolin - Learning Violin</a></h3>
    <p class="date gray"><strong>Originated:</strong> December 07, 2009</p>
    <p class="date gray"><strong>Updated:</strong> December 07, 2009</p>
  </div>

  <br class="clear" />
</div>



            <h2>Projects I'm Following&hellip;</h2>
               <div class="profile_preview gray_box rounded">
               <a href="/projects/lego-watch" class="img_link left"><img alt="Square_60_a549cea39976f9db68945d5936de927d" height="60" src="/avatars/square_60_a549cea39976f9db68945d5936de927d.jpg?1260216692" width="60" /></a>
               <div class="project_info">
               <h3><a href="/projects/lego-watch">Lego Watch</a></h3>
               <p class="date gray"><strong>Originated:</strong> December 07, 2009</p>

               <p class="date gray"><strong>Updated:</strong> December 07, 2009</p>
               </div>
               <br class="clear" />
               </div><div class="profile_preview gray_box rounded">
               <a href="/projects/single-barrel-detroit" class="img_link left"><img alt="Square_60_4f688166630f4f2f92679c3bf73219b8" height="60" src="/avatars/square_60_4f688166630f4f2f92679c3bf73219b8.jpg?1260216731" width="60" /></a>
               <div class="project_info">
               <h3><a href="/projects/single-barrel-detroit">Single Barrel Detroit</a></h3>
               <p class="date gray"><strong>Originated:</strong> December 07, 2009</p>

               <p class="date gray"><strong>Updated:</strong> December 07, 2009</p>
               </div>
               <br class="clear" />
               </div><div class="profile_preview gray_box rounded">
               <a href="/projects/ratata" class="img_link left"><img alt="Square_60_560477c24e9cbdb62c05039eaa21d944" height="60" src="/avatars/square_60_560477c24e9cbdb62c05039eaa21d944.jpg?1260216740" width="60" /></a>
               <div class="project_info">
               <h3><a href="/projects/ratata">Ratata</a></h3>
               <p class="date gray"><strong>Originated:</strong> December 07, 2009</p>

               <p class="date gray"><strong>Updated:</strong> December 07, 2009</p>
               </div>
               <br class="clear" />
               </div><div class="profile_preview gray_box rounded">
               <a href="/projects/selk-bag-reg-" class="img_link left"><img alt="Square_60_85884ac00a2f927e842928de368b806e" height="60" src="/avatars/square_60_85884ac00a2f927e842928de368b806e.jpg?1260216645" width="60" /></a>
               <div class="project_info">
               <h3><a href="/projects/selk-bag-reg-">Selk'Bag&reg;</a></h3>
               <p class="date gray"><strong>Originated:</strong> December 07, 2009</p>

               <p class="date gray"><strong>Updated:</strong> December 07, 2009</p>
               </div>
               <br class="clear" />
               </div><div class="profile_preview gray_box rounded">
               <a href="/projects/aquasplint" class="img_link left"><img alt="Square_60_5122ca8019e7c9bc69a4b4bb63894c7e" height="60" src="/avatars/square_60_5122ca8019e7c9bc69a4b4bb63894c7e.jpg?1260216667" width="60" /></a>
               <div class="project_info">
               <h3><a href="/projects/aquasplint">AquaSplint</a></h3>
               <p class="date gray"><strong>Originated:</strong> December 07, 2009</p>

               <p class="date gray"><strong>Updated:</strong> December 07, 2009</p>
               </div>
               <br class="clear" />
               </div>

         </div>

         <div id="activity_tab" class="anchor">
            <h2>Activity</h2>

            <p class="note">This duplicates the Recent Activity list @ the left. Nate wants to show a preview of activity, but keep this tab as an archive of activity. Not sure if this would be pruned at a certain point (i.e. 100 updates).</p>

            <div class="activity_update">
               <img src="/images/avatar_40px.png" alt="username" />
               <p><span class="update_leader"><strong>This User</strong></span> joined <a href="javascript:;">Some Other Project.</a></p>
               <p class="activity_date">December 15, 2009 @ 7:19 pm EST</p>
            </div>

           <div class="activity_update">
               <img src="/images/avatar_40px.png" alt="username" />
               <p><span class="update_leader"><strong>This User</strong></span> joined <a href="javascript:;">Some Other Project.</a></p>
               <p class="activity_date">December 15, 2009 @ 7:19 pm EST</p>
            </div>

            <div class="activity_update">
               <img src="/images/avatar_40px.png" alt="username" />
               <p><span class="update_leader"><strong>This User</strong></span> joined <a href="javascript:;">Some Other Project.</a></p>
               <p class="activity_date">December 15, 2009 @ 7:19 pm EST</p>
            </div>

         </div>

         <div id="about_tab" class="anchor">

            <p>User profile description goes here.</p>

            <p class="note">Some of this info isn't currently editable via the Console. It can be added later on, via Facebook API calls or whatever. Maybe all we need for now is the description and links (to personal websites, other social networking sites, etc).</p>

            <h2>Links</h2>

            <ul>
               <li><a href="javascript:;" class="external">Link #1 <span class="external">&rarr;</span></a></li>
               <li><a href="javascript:;">Link #2 <span class="external">&rarr;</span></a></li>
               <li><a href="javascript:;">Link #3 <span class="external">&rarr;</span></a></li>
            </ul>
         </div>

         <div id="portfolio_tab" class="anchor">
            <h2>Portfolio</h2>
            <p class="note">This is an optional tab that will display when a user is offering Services. This tab will not be part of the initial beta launch.</p>
         </div>

      </div>
        </div>

<br class="clear" />

      </div>
<div id="sidebar">
  <%= render :partial => "shared/search_box" %>

   <div class="module featured promo promo_pair">
      <h2>Original Services</h2>
      <a href="javascript:;">
      <img src="/images/sidebar/ad_nolo_50x50.jpg" alt="" />
      </a>
      <div>
         <a href="javascript:;">NOLO:</a> Incorporate your project as a business
      </div>
      <br class="clear" />
   </div>

   <div class="module promo text_promo">
      <a href="javascript:;">Things</a>: Task management has never been this easy.
   </div>

   <div class="module promo promo_pair">
      <h2>Original Music</h2>
      <a href="javascript:;">
      <img src="/images/sidebar/music_promo.jpg" alt="" />
      </a>
      <div>
         <strong>Dieselboy</strong>
         <br/>
         Substance D
         <br/>
         <a href="javascript:;">iTunes <span class="arrow">&rarr;</span></a>
      </div>
      <br class="clear" />
   </div>

   <div class="module promo promo_pair">
      <h2>Original Books</h2>
      <a href="javascript:;">
      <img src="/images/sidebar/book_promo.jpg" alt="" />
      </a>
      <div>
         <strong>Jim Olson Houses</strong>
         <br/>
         Michael Webb
         <br/>
         <a href="javascript:;">Amazon <span class="external">&rarr;</span></a>
         <a href="javascript:;">Amazon <span class="arrow">&rarr;</span></a>
      </div>
      <br class="clear" />
   </div>

   <div class="module promo promo_pair">
      <h2>Original Competitions</h2>
      <a href="javascript:;">
      <img src="/images/sidebar/contest_promo.png" alt="" />
      </a>
      <div>
         <a href="javascript:;">Design a better paperclip in less than 24 hours.</a>
      </div>
      <br class="clear" />
   </div>

   <div class="module promo">
      <h2>The OP100</h2>
      <a class="img_link" href="javascript:;">
      <img src="/images/sidebar/op100_promo.jpg" alt="OP 100" />
      </a>
   </div>

   <div class="module promo promo_pair">
      <h2>Original Projects</h2>
      <a href="javascript:;">
      <img src="/images/sidebar/project_promo.jpg" alt="" />
      </a>
      <div>
         <a href="/projects/swashbot/">Swashbot</a><br/>
         Gold Medal RoboGames 2008
      </div>
      <br class="clear" />
   </div>

   <div class="module promo quote_promo">
      <h2>Original Quotes</h2>
      <p>&#8220;The way to get good ideas is to get lots of ideas, and throw the bad ones away.&#8221;</p>
      <a href="http://en.wikipedia.org/wiki/Linus_Pauling">&#8212; Linus Pauling</a>
   </div>

   <div class="module promo video_promo">
      <h2>Original Content</h2>
      <a href="javascript:;">
      <img src="/images/sidebar/video_promo.jpg" alt="" />
      </a>
   </div>

   <div class="module featured promo promo_pair">
      <h2>Original Products</h2>
      <a href="javascript:;">
      <img src="/images/sidebar/product_promo.jpg" alt="" />
      </a>
      <div>
         <a href="javascript:;">Apple iPhone 4G</a>
         <br/>
         Now featuring stealth mode.
      </div>
      <br class="clear" />
   </div>

   <div class="module promo event_promo">
      <h2>Original Events</h2>
      <div>
         <strong>The Originators Conference</strong><br/>
         April 1, 2010 | Durham, NC<br/>
         <a href="javascript:;">Registration Now Open</a>
      </div>
   </div>

   <div class="module promo video_promo">
      <h2>Original Movies</h2>
      <a href="javascript:;">
      <img src="/images/sidebar/video_promo_trailer.jpg" alt="" />
      </a>
   </div>

   <div class="module promo text_promo">
      <a href="javascript:;">Ableton Live</a>: Simplify music production on your laptop.
   </div>

</div>

<br class="clear" />

<% content_for :javascript do %>
  <%= javascript_include_tag "jquery_tabs" %>
  <%= javascript_include_tag "jcarousellite" %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $.tabs("tab_container");

      if ($("#slideshow li").size() > 1) {
        $("#slideshow_controls").show();
        $("#slideshow").jCarouselLite({
            btnNext: "#slideshow_next",
            btnPrev: "#slideshow_prev",
            visible: 1
        });
      }
    });

  </script>
<% end %>
