<div class="profile_preview gray_box rounded">
  <%= image_link_to_profile(profile, :square_60) %>
  <div class="project_info">
     <h3><%= link_to_profile(profile) %></h3>
     <p class="dark_gray">
     <%= profile.location %>
     </p>
  <br class="clear" />
  </div>
</div>