<div class="content">
  <%= image_tag "inbox_wireframe.png", :class => "screenshot" %>

  <p class="caption">
    Original Projects users can send, receive, and archive messages with other users.  Messages can be tied to the project they relate to.
  </p>
</div>