<div class="content">
  <%= image_tag "network_wireframe.png", :class => "screenshot" %>

  <p class="caption">
    Original Projects users can build their network and contact database, including users, projects, and service providers.
  </p>
</div>