<div class="content">
  <%= image_tag "settings_wireframe.png", :class => "screenshot" %>

  <p class="caption">
    Original Projects users can control communications, privacy, and collaboration settings.
  </p>
</div>