<div class="link">      
  <%= form.text_field :url, :class => 'with_icon' %>
  <% unless form.object.new_record? %>
    <div class="delete_link_field">
      <%= form.check_box '_delete' %>
      <%= form.label(:_delete, "Delete") %>
    </div>
  <% end %>
</div>