<% content_for :page_title, "Edit Profile" %>

<div id="content">

  <div class="column col_100">

  <h1>Edit Profile</h1>

  <%= render(:partial => 'form') %>

  <br class="clear" />

  </div>

</div>
