#home_extras

  #home_videos
    .video.left
      %a.img_link{ :href => "/about?clip=peopleyoudliketomeet" }
        %img{ :src => "http://original-projects.s3.amazonaws.com/images/video_get_stuff_done_blue.jpg", :alt => "" }
      %p{ :style => "background: url('http://original-projects.s3.amazonaws.com/images/icon_video.png') center right no-repeat;" }
        %a{ :href => "/about?clip=peopleyoudliketomeet" }
          Get Stuff Done

    .video.left
      %a.img_link{ :href => "/about?clip=findyourniche" }
        %img{ :src => "http://original-projects.s3.amazonaws.com/images/video_niche.jpg", :alt => "" }
      %p{ :style => "background: url('http://original-projects.s3.amazonaws.com/images/icon_video.png') center right no-repeat;" }
        %a{ :href => "/about?clip=findyourniche" }
          Find Your Niche

    .video.left
      %a.img_link{ :href => "/about?clip=originalprojects" }
        %img{ :src => "http://original-projects.s3.amazonaws.com/images/video_wall.jpg", :alt => "" }
      %p{ :style => "background: url('http://original-projects.s3.amazonaws.com/images/icon_video.png') center right no-repeat;" }
        %a{ :href => "/about?clip=originalprojects" }
          Let the Collaboration Begin

    .video.video_last.left
      %a.img_link{ :href => "/about?clip=introduction" }
        %img{ :src => "http://original-projects.s3.amazonaws.com/images/video_hand.jpg", :alt => "" }
      %p{ :style => "background: url('http://original-projects.s3.amazonaws.com/images/images/icon_video.png') center right no-repeat;" }
        %a{ :href => "/about?clip=introduction" }
          Have an Idea?
