<% content_for :page_title, 'What is Original Projects?' %>

<div id="content">

  <div class="column col_100">

  <h1 class="left">What is Original Projects?</h1>
   <%= link_to "Take a Tour", tour_path, :class => 'right-link' %>
   <div class="clear"></div>
  <p>Original Projects is a place where you can share and cultivate your original projects with the world (or just with certain people in the world); where you can connect and collaborate not based on who they are&#8212;but what you do and aspire to do; and where you can link and network with other users who have the resources that you might need to develop your projects.</p>
  
  <h3>How do you define what constitutes an &ldquo;original project&rdquo;?</h3>
  <p>We don't define what constitutes an original project&#8212;you do. An original project may be a pursuit, hobby, vocation, aspiration, experience, idea, endeavor, passion, goal, resolution, activity—and much more. In short, it's anything that you do that has your fingerprints on it.</p>
  
  <h3>Why couldn't I just share my original project on Facebook, LinkedIn, MySpace, or Blogger?</h3>
    <p>You certainly can&#8212;and many of you probably already do. But because Original Projects is organized around just that&#8212;projects, pursuits, passions, etc.&#8212;and not around people and their preexisting social or business networks, we think you will find that Original Projects offers an experience and opportunities unlike any other on the Web.</p>
    
  <h3>What are some examples of original projects?</h3>
  <p>You can browse <%= link_to "Projects", projects_path %> on the site to view more.</p>
  <h3>Want to see how it works?</h3>
  <strong><%= link_to "Take a tour.", tour_path %></strong>
  
  <h1 class="second">Where and who is Original Projects?</h1>
  <p><img class="left margin_right" src="/images/team.jpg" alt="The Original Projects team" width="196px" height="131px">Original Projects, Inc., is based in downtown Durham, North Carolina. We are a growing team (some with a heart in Chapel Hill) that includes members in New York, Charlottesville, Los Angeles, San Francisco, Detroit, Portland, Washington D.C., and Buffalo. Our investors themselves have embarked on original projects in their industries of technology, finance, medicine, entertainment, and environmentalism and we're excited to see the original projects they develop on the site. And as you’ll see from the projects on our site, our users are from all over the world.</p>
  <p>If you'd like to be one of the original members of Original Projects, please <%= link_to "Request An Invite", request_invite_path %>.</p>

  </div>
</div>
