<% content_for :page_title, 'The First Original Projects Event' %>

<div id="content">

  <div class="column col_75" style="width:570px;margin-right:22px;">

<img src="/images/event_event.jpg" />
<br /><br />
    
   <h1>
    The First Original Projects Event&nbsp;&nbsp;&nbsp;&nbsp;<a href="/event2">April 17+18</a>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background:yellow;color:black;padding:4px;">Apr 9+10</span></h1>
    <p>Original Projects is excited to host our first event. The event will take place in downtown Durham coinciding with the Full Frame Film Festival.  We will be showcasing a variety of local original projects, bringing members of the site together to share their projects & passions, and helping attendees set up new projects on the site.
 </p>
 <div style="margin-left:30px;">  
<h2 style="margin-bottom:0px;">What's Happening?</h2>
<p>We have a great lineup of events for the weekend.  Drop in on Friday and Saturday to see the gallery of projects and contribute to our collaborative project, and don't miss the opportunity to meet the originators on Saturday at 4pm. 
</p>

<h2 style="margin-bottom:0px;">The Gallery</h2>
<p>Showcasing 25+ local original projects ranging from technology, farming, sports, fashion, film, food, architecture, and more.</p>

<h2 style="margin-bottom:0px;">Meet the Originators</h2>
<p>A gathering to meet the originators of the projects, hear their story, and help them out!</p>

<h2 style="margin-bottom:0px;">The Party</h2>
<p>Drinks and hors d'oeuvres to celebrate the first Original Projects event, the originators, and their projects.</p>

<h2 style="margin-bottom:0px;">"What's your original project?"</h2>
<p>A collaborative multimedia project occurring throughout the event.  Catch the screening during Saturday's party!</p>

</div>

<h2 style="margin-bottom:0px;">What is Original Projects?</h2>
<p>Original Projects is a place where you can share and cultivate your original projects with the world (or just with certain people in the world); where you can connect and collaborate not based on who you are--but what you do and aspire to do; and where you can link and network with other users who have resources you may need to develop your projects.</p>

<h2 style="margin-bottom:0px;">Want to see how it works?</h2>
<p><a href="/tour">Take a tour...</a> or if you want to join Original Projects, please <a href="/request_invite">sign up.</a></p>

<h2 style="margin-bottom:0px;">Interested in being a sponsor for this or future Original Projects events?</h2>
<p><a href="mailto:sales@originalprojects.com">Contact us</a></p>

<h2 style="margin-bottom:0px;">Interested in collaborating on an Original Projects event in your city?</h2>
<p><a href="mailto:hello@originalprojects.com">Contact us</a></p>

    
    
  </div>
  <div class="column col_50" style="width:280px;margin-right:4px;">  
<div class="gray_box rounded">
<div style="padding:8px;background:#cccccc;margin:0px;"><h1 style="margin-bottom:0px;">When</h1></div>
<div style="padding:6px;">
<h3>Gallery</h3>
<p>
Fri. April 9th 10am - 8pm<br />
Sat. April 10th 10am - 8pm<br />
</p>
<h3>Meet the Originators</h3>
<p>
Sat. April 10th 4pm - 6pm
</p>
<h3>Drinks</h3>
<p>
Sat. April 10th 6pm - 8pm
</p>
</div>
</div>
<div class="gray_box rounded">
<div style="padding:8px;background:#cccccc;margin:0px;"><h1 style="margin-bottom:0px;">Where</h1></div>
<div style="padding:6px;">
     <p>
322 East Chapel Hill St<br>
Durham NC 27701

       </p>
       <p>
       <iframe width="268" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=322+East+Chapel+Hill+St+Durham+NC+27701&amp;oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hq=&amp;hnear=322+E+Chapel+Hill+St,+Durham,+North+Carolina+27701&amp;gl=us&amp;ei=FrqeS5-1A8G78gbIqLmTCw&amp;ved=0CAcQ8gEwAA&amp;ll=35.997139,-78.90162&amp;spn=0.005208,0.006437&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?q=322+East+Chapel+Hill+St+Durham+NC+27701&amp;oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hq=&amp;hnear=322+E+Chapel+Hill+St,+Durham,+North+Carolina+27701&amp;gl=us&amp;ei=FrqeS5-1A8G78gbIqLmTCw&amp;ved=0CAcQ8gEwAA&amp;ll=35.997139,-78.90162&amp;spn=0.005208,0.006437&amp;z=16&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
       </p>
       </div>
       </div>
       </div>
       <br class="clear" />
       <h1>Sponsors</h1>
         <div id="homepage_featured">
  
         <div class="no_margin" style="text-align:center;">
<a href="http://www.alliancearchitecture.com/" class="img_link"><img alt="Alliance Architecture" src="/images/alliance.jpg" border="0" style="width:257px;height:133px;" />
     <h2><a href="http://www.alliancearchitecture.com/">Alliance Architecture</a></h2>
      </div>

         <div style="text-align:center;">
<a href="http://www.fullsteam.ag/" class="img_link"><img alt="Fullsteam" src="/images/fullsteam.jpg" style="width:103px;height:133px;" border="0" />
     <h2><a href="http://www.fullsteam.ag/">Fullsteam</a></h2>
      </div>
      
      <div style="text-align:center;">
<a href="http://www.cbi-nc.com/" class="img_link"><img alt="Carolina Business Interiors" src="/images/cbi.jpg" style="width:257px;height:133px;" border="0" />
     <h2><a href="http://www.cbi-nc.com/">Carolina Business Interiors</a></h2>
      </div>
      
               <div class="no_margin" style="text-align:center;">
<a href="http://www.dagr-nott.com/" class="img_link"><img alt="Daggr Nott &amp; Associates" src="/images/daggrnott.png" border="0" style="width:257px;height:133px;" />
     <h2><a href="http://www.dagr-nott.com/">Daggr Nott &amp; Associates</a></h2>
      </div>

         <div style="text-align:center;">
<a href="http://www.endeavorprinting.com/" class="img_link"><img alt="Endeavor Printing" src="/images/endeavor.png" style="width:257px;height:133px;" border="0" />
     <h2><a href="http://www.endeavorprinting.com/">Endeavor Printing</a></h2>
      </div>
      
      <div style="text-align:center;">
<a href="https://www.shoeboxed.com/index.htm" class="img_link"><img alt="Shoeboxed" src="/images/shoeboxed.png" style="width:257px;height:133px;" border="0" />
     <h2><a href="https://www.shoeboxed.com/index.htm">Shoeboxed</a></h2>
      </div>
      
                     <div class="no_margin" style="text-align:center;">
<a href="http://www.lsgnc.com/" class="img_link"><img alt="Large &amp; Small Graphics" src="/images/lsg.png" border="0" style="width:257px;height:133px;" />
     <h2><a href="http://www.lsgnc.com/">Large &amp; Small Graphics</a></h2>
      </div>

         <div style="text-align:center;">
<a href="http://www.studiocrank.com/" class="img_link"><img alt="Crank Studio" src="/images/crank.png" style="width:257px;height:133px;" border="0" />
     <h2><a href="http://www.studiocrank.com/">Crank Studio</a></h2>
      </div>
      
      <div style="text-align:center;">
<a href="http://www.ruecler-durham.com/" class="img_link"><img alt="Rue Cler" src="/images/ruecler.png" style="width:257px;height:133px;" border="0" />
     <h2><a href="http://www.ruecler-durham.com/">Rue Cler</a></h2>
      </div>
      
               <div class="no_margin" style="text-align:center;">
<a href="http://www.bullcityrising.com" class="img_link"><img alt="Bull City Rising" src="/images/bullcityrising.png" style="width:257px;height:133px;" border="0" />
     <h2><a href="http://www.bullcityrising.com">Bull City Rising</a></h2>
      </div>
      
      <div style="text-align:center;">
<a href="http://www.cirquevideo.com" class="img_link"><img alt="Cirque Productions" src="/images/cirqueproductions.png" style="width:257px;height:133px;" border="0" />
     <h2><a href="http://www.cirquevideo.com">Cirque Productions</a></h2>
      </div>

    <br class="clear" />

  </div>
   </div> 


</div>
