<% content_for :page_title, 'File too Large' %>

<div class="policy">

  <h1>File Too Large</h1>
  
  <p>It looks like you tried to upload a file too large for us. Our maximum
    file size is 5 MB. Please go back and try again.</p>
</div>