<% content_for :page_title, 'Privacy Policy' %>

<div class="policy">
  
<h2 style="text-align:center;">Original Projects Privacy Policy</h2>


	<p style="text-align:center;">as of January 15, 2010</p>


	<p>Welcome to the Original Projects website (the &#8220;Site&#8221;), operated by Original Projects, Inc. We are committed to respecting and protecting your privacy. To that end, we have prepared this privacy policy (&#8220;Privacy Policy&#8221;) to describe our information gathering and dissemination practices and our data protection practices for the Site. The terms &#8220;OP,&#8221; &#8220;we,&#8221; &#8220;us,&#8221; and &#8220;our&#8221; refer to Original Projects, Inc. and its subsidiaries and affiliates. The terms &#8220;you,&#8221; &#8220;your,&#8221; and &#8220;yours&#8221; refer to the user/customer utilizing the Site. This Privacy Policy is governed by our Terms of Use [link to the Terms of Use].</p>


	<h3>Your Confidential Information</h3>


	<p>The Terms of Use [link to the Terms of Use] state our terms regarding the use and disclosure of your confidential or proprietary information. Without limiting anything in the Terms of Use [link to the Terms of Use], please be aware that if you grant access to any of your confidential or proprietary information to other users (or categories of users) on the Site or otherwise, you are responsible for any and all confidentiality terms between you and such other users. OP is not responsible for other users’ use or disclosure of your confidential information.</p>


	<h3>Children</h3>


	<p>The Site is not intended for or directed to persons under the age of 13, and we will not knowingly collect information from such persons. Any person who provides information to us through registration or in any other manner on the Site represents to OP that they are 13 years of age or older. If we learn that a child under 13 has submitted personal information to us, we will attempt to delete the information as soon as possible.</p>


	<h3>Collection of Information</h3>


	<p>&#8220;Personally Identifiable Information&#8221; means any information which can be used to identify an individual, and may include, but is not limited to, name, email address, postal or other physical address, title, or occupation. We may collect the following Personally Identifiable Information from you when you register for the Site: name, email, phone number, address [and any other personal info that may be collected]. To participate in certain activities and to obtain certain services or documents offered on the Site, you may be asked to provide additional Personally Identifiable Information. OP may collect credit card and payment information in order to process transactions or payments on the Site. We endeavor to limit our requests for Personally Identifiable Information to information we believe is reasonably necessary to achieve our purposes as described in the &#8220;Information Use&#8221; section below. You can choose not to provide us with certain information, but then you might not be able to take advantage of many of the Site’s features. Any Personally Identifiable Information received in communication or in material you transmit to the Site by electronic mail or otherwise are and will be treated in accordance with our privacy policy.</p>


	<p>We also automatically receive and record information on our server logs from your browser, including your IP address, cookie information (as described below) and the page you request.</p>


	<h3>Cookies</h3>


	<p>Some of the pages on the Site may contain &#8220;cookies.&#8221; A cookie is a small data file that may be sent to your Web browser and stored on your computer. This allows our server to &#8220;recognize&#8221; you when your computer visits the Site in the future. Most Web browsers can be configured to not accept cookies, or to notify you if a cookie is sent to you. In some instances, OP may collect non-Personally Identifiable Information (aggregate or demographic data) through cookies.</p>


	<h3>Information Use</h3>


	<p>OP uses Personally Identifiable Information for several general purposes:</p>


	<ul>
	<li>to provide you with information about our services,</li>
		<li>to provide you with suggestions about our services,</li>
		<li>to support the services offered on the Site,</li>
		<li>to connect you with projects and other users on the site,</li>
		<li>to contact you for feedback about our services, </li>
		<li>to conduct research about OP or our services,</li>
		<li>to fulfill your transaction or purchase requests,</li>
		<li>to process your payments including credit checks and collection, </li>
		<li>to notify you of technical updates or changes in policy, or </li>
		<li>to contact you for marketing and promotional purposes.</li>
	</ul>


	<p>We may use non-Personally Identifiable Information such as demographic data to analyze and develop our marketing strategy and further improve the Site and our products and services.</p>


	<h3>Information Sharing and Disclosure</h3>


	<p>We will not sell or rent your Personally Identifiable Information to third parties except as described in this Privacy Policy. We may disclose your Personally Identifiable Information to other companies or people under any of the following circumstances:</p>


	<ul>
	<li>when we have your consent to share the information.</li>
		<li>if sharing the information is reasonably necessary to provide a product or service that you have requested or to develop, maintain or operate the Site; if your information is shared with third parties we will only provide the information reasonably needed to deliver the service, and ask that such companies do not use your information for any other purpose.</li>
		<li>to keep you up to date on the latest Site news, special offers, or other information we think you would like to hear about either from us or from our business partners (unless you have opted out of these types of communications).</li>
		<li>if we believe in good faith that we are required to do so by law, in connection with litigation, to prevent a crime, or to protect personal safety, the public, or the Site.</li>
		<li>in connection with a sale or merger with another entity or if OP should ever file for bankruptcy or have its assets sold to another entity.</li>
	</ul>


	<p>OP may also share non-Personally Identifiable Information with third parties.</p>


	<h3>Choice</h3>


	<p>We will give you the opportunity to opt out of receiving direct marketing or market research information. This means we assume you have given us your consent to collect and use your information in accordance with this Privacy Policy unless you take affirmative action to indicate that you do not consent, for instance by clicking or checking the appropriate option or box at the point of collection.</p>


	<h3>Access</h3>


	<p>You may correct or amend your Personally Identifiable Information by editing your account information on the Site.  You may delete your account by emailing us at help@originalprojects.com.</p>


	<h3>Security</h3>


	<p>We are committed to protecting Personally Identifiable Information from loss, misuse, disclosure, alteration, unauthorized access, and destruction. OP takes reasonable precautions to safeguard the confidentiality of Personally Identifiable Information. We protect the security of your Personally Identifiable Information during transmission to us by using Secure Sockets Layer (SSL) software, which encrypts the information you input. While we strive to protect your Personally Identifiable Information, we cannot ensure the security of the information you transmit to us in all cases.</p>


	<h3>Third Party Sites</h3>


	<p>The Site may contain links to other sites. OP is not responsible for the privacy practices of such other sites. We encourage our users to be aware when leaving the Site to read the privacy statements of each site that collects Personally Identifiable Information.</p>


	<h3>Your Consent to this Privacy Policy</h3>


	<p>By using this Site, you agree to this Privacy Policy. We may occasionally update this Privacy Policy. The date of the most recent update of this document will always be displayed at the beginning of this page. If we change our Privacy Policy, we will post those changes on www.originalprojects.com. If we decide to use Personally Identifiable Information in a manner different from that stated at the time it was collected, we will notify users via email (if an email address has been provided) or display a notice on the www.originalprojects.com front page. We encourage you to periodically review this Privacy Policy to stay informed about how we are protecting the Personally Identifiable Information we collect. Your continued use of this Site constitutes your agreement to this Privacy Policy and any updates.</p>


	<h3>Contacting OP</h3>


	<p>If you have any questions, comments, or concerns about this Privacy Policy, please contact us at:</p>

	<p><%= link_to "privacy@originalprojects.com", "mailto:privacy@originalprojects.com" %></p>

</div>