<% content_for :page_title, 'Terms of Use' %>

<div class="policy">
  
<h2 style="text-align:center;">Original Projects Terms of Use</h2>


<div class="preface">

	<p style="text-align:center;">as of January 15, 2010</p>


	<p>Welcome to the Original Projects website (the &#8220;Site&#8221;) operated by Original Projects, Inc. (&#8220;OP&#8221;).</p>


	<p><span class="caps">PLEASE READ CAREFULLY THE FOLLOWING AGREEMENT</span>. BY <span class="caps">ACCESSING</span>, BROWSING, <span class="caps">AND</span>/OR <span class="caps">OTHERWISE USING THE SITE</span>, YOU <span class="caps">ACKNOWLEDGE THAT YOU HAVE READ</span>, UNDERSTOOD, <span class="caps">AND AGREE TO BE BOUND BY THE FOLLOWING TERMS</span>, INCLUDING <span class="caps">THE GUIDELINES</span> (AS <span class="caps">DEFINED BELOW</span>), <span class="caps">AND ANY FUTURE MODIFICATIONS</span> (COLLECTIVELY, <span class="caps">THE</span> &#8220;TERMS&#8221;). <span class="caps">IF YOU DO NOT AGREE TO THESE TERMS</span>, THEN <span class="caps">PLEASE DO NOT USE THE SITE</span>.</p>


</div>

	<h3>1. Eligibility; Registration Information and Password; Site Access.</h3>


	<p><b>1.1.</b> THE <span class="caps">SITE IS NOT AVAILABLE TO PERSONS UNDER THE AGE OF 13 OR TO ANY USERS SUSPENDED OR REMOVED FROM THE SITE BY OP</span>. BY <span class="caps">USING THE SITE</span>, YOU <span class="caps">REPRESENT THAT YOU ARE AT LEAST 13 YEARS OF AGE AND HAVE NOT BEEN PREVIOUSLY SUSPENDED OR REMOVED FROM THE SITE</span>.</p>


	<p><b>1.2.</b> If you are using or opening an account on the Site on behalf of a company, entity, or organization (a &#8220;Subscribing Organization&#8221;), then you represent and warrant that you are an authorized representative of that Subscribing Organization with the authority to bind such organization to these Terms; and agree to be bound by these Terms on behalf of such Subscribing Organization.</p>


	<p><b>1.3.</b> You agree that the information you provide to OP on registration and at all other times will be true, accurate, current, and complete. You also agree that you will ensure that this information is kept accurate and up-to-date at all times. When you register, you will be asked to create a password. As you will be responsible for all activities that occur under your account, you should keep your password confidential. You are solely responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account. You agree to notify OP in writing of unauthorized use of your account or any other activity related to a security breach of which you are aware.</p>


	<p><b>1.4.</b> Subject to your compliance with these Terms, OP grants you permission to use the Site as set forth in these Terms, and consistent with the intended features of the Site.</p>


	<h3>2. Content. </h3>


	<p><b>2.1.</b> <ins>General</ins>. The Site provides certain features which enable you and other users to host, submit, post, and share content with other users, which may include without limitation text, drawings, graphic, audio, video, and pictorial works, or any other content submitted by you and other users through the Site (&#8220;Content&#8221;). Content is displayed for informational purposes only and are not controlled by OP. You understand that all Content is the sole responsibility of the person from whom such Content originated. This means that you, and not OP, are entirely responsible for all Content that you upload, post, e-mail, transmit, or otherwise make available through the Site. </p>


	<p><b>2.2.</b> <ins>License Grant by You to OP</ins>. You retain your ownership of the intellectual property rights that you may have in original aspects of your Content. By submitting Content to OP, you hereby grant OP (and third parties acting on OP’s behalf) a worldwide, non-exclusive, fully paid-up, royalty-free, transferable license to: (i) use, host reproduce, distribute, publicly display, publicly perform, modify, adapt, and prepare derivative works of your Content on the Site as described in these Terms, and (ii) for the purposes of marketing and promoting the Site, use, host, reproduce, distribute, publicly display, publicly perform, modify, adapt, and prepare derivative works of those portions of your Content that are not marked by you on the Site as &#8220;private&#8221; at the time OP exercises its rights under this clause (ii). </p>


	<p><b>2.3.</b> <ins>Right to Remove Content.</ins> OP makes no representations that it will publish, display or make available on the Site any Content, and reserves the right, in its sole discretion, to refuse to allow any Content on the Site, or to remove any Content at any time with or without notice. Without limiting the generality of the preceding sentence, OP complies with the Digital Millennium Copyright Act, and will remove Content upon receipt of a compliant takedown notice (see the &#8220;Digital Millennium Copyright Act&#8221; section below).</p>


	<p><b>2.4.</b> <ins>Content Representations and Warranties.</ins> You are solely responsible for your own Content and the consequences of posting or publishing them. In connection with Content, you affirm, represent, and warrant that:  (i) you own, or have the necessary licenses, rights, consents, and permissions to use and authorize OP to use all patent, trademark, copyright, or other proprietary rights in and to your Content to enable inclusion and use of your Content in the manner contemplated by OP and these Terms, and to grant the rights and license set forth above, and (ii) your Content or OP’s use of your Content pursuant to these Terms, and OP’s exercise of the license rights set forth above, do not and will not:  (a) infringe, violate, or misappropriate any third-party right, including any copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right; (b) slander, defame, libel, or invade the right of privacy, publicity, or other property rights of any other person; (c) violate any applicable law or regulation; or (d) require obtaining a license from or paying fees or royalties to any third party for the exercise of any rights granted in these Terms, including, by way of example and not limitation, the payment of any royalties to any copyright owners, including any royalties to any agency, collection society, or other entity that administers such rights on behalf of others.</p>


	<p><b>2.5.</b> <ins>Inaccurate or Offensive Content.</ins> You understand that when using the Site, you may be exposed to Content from a variety of sources and that OP does not endorse and is not responsible for the accuracy, usefulness, safety, or intellectual property rights of or relating to such Content. You further understand and acknowledge that you may be exposed to Content that is inaccurate, offensive, indecent, or objectionable. <span class="caps">YOU AGREE TO WAIVE</span>, AND <span class="caps">HEREBY DO WAIVE</span>, ANY <span class="caps">LEGAL OR EQUITABLE RIGHTS OR REMEDIES YOU HAVE OR MAY HAVE AGAINST OP WITH RESPECT THERETO</span>.</p>


	<p><b>2.6.</b> <ins>Feedback.</ins> If you provide OP with any comments, bug reports, feedback, or modifications proposed or suggested by you to the Site (&#8220;Feedback&#8221;), OP shall have the right to use such Feedback at its discretion, including but not limited to the incorporation of such suggested changes into the Site. You hereby grant OP a perpetual, irrevocable, nonexclusive license under all rights necessary to incorporate and use your Feedback for any purpose.</p>


	<h3>3. Confidential Information.</h3>


	<p><b>3.1.</b> <ins>Definition.</ins> &#8220;Confidential Information&#8221; means any confidential or proprietary information disclosed by you to OP within your Content. Confidential Information shall not, however, include any information which: (i) is not marked by you on the Site as &#8220;private&#8221;, (ii) was publicly known and available in the public domain prior to the time of disclosure by you; (iii) becomes publicly known and available in the public domain after disclosure by you through no action or inaction of OP; (iv) is in the possession of OP at the time of disclosure by you; (v) is independently developed by OP without use of or reference to your Confidential Information; (vi) is received by OP from a third party without an accompanying duty of confidentiality; (vii) is furnished to a third party by you without restrictions similar to the terms hereof on the third party’s right to use or disclose; or (vii) is in OP’s reasonable determination required by law to be disclosed by OP.</p>


	<p><b>3.2.</b> <ins>Use and Disclosure of Confidential Information.</ins> OP agrees to use commercially reasonable efforts not to use or disclose to any third party your Confidential Information for any purpose, except as expressly stated in these Terms or as required by law or regulation. OP may disclose your Confidential Information to its employees, contractors and third party service providers if sharing your Confidential Information is reasonably necessary to develop, maintain or operate the Site. If your Confidential Information is shared with such third party service providers, OP will only provide the information reasonably needed to develop, maintain or operate the Site, and ask that such service providers do not use your information for any other purpose. OP may disclose and provide access to your Confidential Information on the Site to you and other users (or categories of users) as you may authorize on the Site. <strong>If you grant access to any of your Confidential Information to other users (or categories of users) on the Site or otherwise, you acknowledge and agree that you are responsible for any and all confidentiality terms between you and such other users. OP shall not be responsible for other users’ use or disclosure of your Confidential Information.</strong></p>


	<p><b>3.3.</b> <ins>Maintenance of Confidentiality.</ins> OP agrees that it shall take reasonable measures to protect the secrecy of and avoid disclosure of your Confidential Information, except as expressly stated in these Terms. Without limiting the foregoing, OP shall take at least those measures that it employs to protect its own confidential information, except as expressly stated in these Terms.</p>


	<p><b>3.4.</b> <ins>Competitive Development.</ins> You recognize that OP (including its affiliates) may be engaged in the research, development, production, marketing, licensing, or sale of similar services or products to those being considered by you. Such services or products may be competitive with yours and may display the same or similar functionality. Nothing in these Terms is to be construed to prevent OP from engaging independently in such activities except that OP may not use your Confidential Information to do so.</p>


	<p><b>3.5.</b> <ins>Term.</ins> The obligations of OP hereunder with respect to your Confidential Information shall survive until such time as all your Confidential Information qualifies under any of the exceptions to Confidential Information set forth in Section 3.1 through no action or inaction of OP.  You can request that any of your Content be removed from the Site by providing OP at least 10 days prior written notice identifying the Content; provided, however, you acknowledge and agree that OP will not be required in any circumstances to seek the return of any of your Content from users of the Site you authorized to have access to your Content.</p>


	<h3>4. Privacy.</h3>


	<p>Your privacy is important to OP. The <a href="/privacy">Original Projects Privacy Policy</a> is hereby incorporated into these Terms by reference. Please read the privacy policy carefully for information relating to OP’s collection, use, and disclosure of your personal information.</p>


	<h3>5. Prohibited Conduct and Uses.</h3>


	<p><b>5.1.</b> <strong><span class="caps">BY USING THE SITE YOU PROMISE NOT TO</span>:</strong> (i) Upload copyrighted material that is not your own or that you do not have the legal right to distribute, display, and otherwise make available to others; (ii) Harass, threaten, or defraud other users of the Site; (iii) Upload, submit or send to other users of the Site pornographic, threatening, embarrassing, hateful, racially or ethnically insulting, libelous, or otherwise inappropriate content or comments; (iv) Impersonate another person or access another user&#8217;s account without that person&#8217;s permission; (v) Share OP-issued passwords with any third party or encourage any other user to do so; (vi) Misrepresent the source, identity, or content of information transmitted via the Site;  (vii) Use the Site for any illegal purpose or in any illegal manner; or (viii) Upload material (e.g. virus) that is damaging to computer systems or data of OP or other users of the Site.</p>


	<p><b>5.2.</b> Access to the Site from territories where its contents are illegal is prohibited. Those who choose to access the Site do so at their own initiative and are responsible for compliance with all local rules, including without limitation rules about the internet, data, email, or privacy.</p>


	<p><b>5.3.</b> As a condition of your use of the Site, you will not use the Site for any purpose that is unlawful or prohibited by these Terms. You may not use the Site in any manner that, in our sole discretion, could damage, disable, overburden, or impair it or interfere with any other party&#8217;s use and enjoyment of the Site. You may not attempt to gain unauthorized access to the Site, or any part of the Site, other accounts, computer systems or networks connected to the Site, or any part of them, through hacking, password mining, or any other means or interfere or attempt to interfere with the proper working of the Site or any activities conducted on the Site. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available through the Site. You agree neither to modify the Site in any manner or form, nor to use modified versions of the Site, including (without limitation) for the purpose of obtaining unauthorized access to the Site.</p>


	<p><b>5.4.</b> The Site may contain robot exclusion headers. You agree that you will not use any robot, spider, scraper, or other automated means to access the Site for any purpose without our express written permission or bypass our robot exclusion headers or other measures OP may use to prevent or restrict access to the Site.</p>


	<p><b>5.5.</b> You may not directly or indirectly reverse engineer, disassemble or decompile any part of the Site, except to the limited extent applicable laws specifically prohibit such restriction.</p>


	<h3>6. Additional Terms.</h3>


	<p>When using the Site, you will be subject to any additional posted guidelines or rules applicable to specific products, services, or features which may be posted from time to time (the &#8220;Guidelines&#8221;). All such Guidelines are hereby incorporated by reference into the Terms.</p>


	<h3>7. Modification of the Terms.</h3>


	<p><b>7.1.</b> OP reserves the right, at our discretion, to change, modify, add, or remove portions of the Terms at any time. Please check these Terms and any Guidelines periodically for changes. Your continued use of the Site after the posting of changes constitutes your binding acceptance of such changes. For any material changes to these Terms, such amended terms will automatically be effective 30 days after they are initially posted on the Site. In the event that such modifications materially alter your rights or obligations hereunder, such modified Terms will become effective upon the earlier of (i) your continued use of the Site with actual knowledge of such modified Terms, or (ii) 30 days from publication of such modified terms on the Site.</p>


	<p><b>7.2.</b> Certain products and services on the Site may have fees associated with them. Please see the terms associated with such products or services for more information.</p>


	<h3>8. Termination.</h3>


	<p><b>8.1.</b> <strong>By OP.</strong> You agree that OP, in its sole discretion and for any or no reason, may terminate any account (or any part thereof) you may have with OP or use of the Site and remove and discard all or any part of your account or your Content, at any time. OP may also in its sole discretion and at any time discontinue providing access to the Site, or any part thereof, with or without notice. You agree that any termination of your access to the Site or any account you may have or portion thereof may be effected without prior notice, and you agree that OP will not be liable to you or any third party for any such termination. OP does not permit copyright infringing activities on the Site and reserves the right to terminate access to the Site and remove all content submitted by any persons who are found to be repeat infringers. Any suspected fraudulent, abusive, or illegal activity that may be grounds for termination of your use of the Site may be referred to appropriate law enforcement authorities. These remedies are in addition to any other remedies OP may have at law or in equity.</p>


	<p><b>8.2.</b> <strong>By You.</strong> You may terminate your account, these Terms and your right to use the Site at any time and for any reason or no reason, by contacting OP user support at myaccount@originalprojects.com. You can request removal of any of your Content from the Site as stated in Section 3.5.</p>


	<h3>9. Ownership; Proprietary Rights.</h3>


	<p>The Site is owned and operated by OP. The visual interfaces, graphics, design, compilation, information, computer code, products, software (including any downloadable software), services, and all other elements of the Site provided by OP (&#8220;Materials&#8221;) are protected by United States copyright, trade dress, patent, and trademark laws, international conventions, and all other relevant intellectual property and proprietary rights, and applicable laws. Except for any Content uploaded by you, all Materials contained on the Site are the copyrighted property of OP or its subsidiaries or affiliated companies and/or third-party licensors. All trademarks, service marks, and trade names are proprietary to OP or its affiliates and/or third-party licensors. Except as expressly authorized by OP, you agree not to sell, license, distribute, copy, modify, publicly perform or display, transmit, publish, edit, adapt, create derivative works from, or otherwise make unauthorized use of the Materials.</p>


	<h3>10. Third Party Sites, Products and Services; Links.</h3>


	<p><b>10.1.</b> The Site may include links or advertisements for other websites, vendors, service providers, products and/or services (&#8220;Linked Sites&#8221;) solely as a convenience to users. OP makes no express or implied warranties with regard to the information, material, products, or services that are contained on or accessible through Linked Sites. <span class="caps">ACCESS AND USE OF LINKED SITES</span>, INCLUDING <span class="caps">THE INFORMATION</span>, MATERIAL, <span class="caps">PRODUCTS</span>, AND <span class="caps">SERVICES ON LINKED SITES OR AVAILABLE THROUGH LINKED SITES</span>, IS <span class="caps">SOLELY AT YOUR OWN RISK</span>.</p>


	<p><b>10.2.</b> Your correspondence or business dealings with, or participation in promotions of, any third party, including without limitation other users of the Site and third parties on or contacted through Linked Sites, are solely between you and such third party. <span class="caps">YOU AGREE THAT OP WILL NOT BE RESPONSIBLE OR LIABLE FOR ANY LOSS OR DAMAGE OF ANY SORT INCURRED AS THE RESULT OF ANY SUCH DEALINGS OR AS THE RESULT OF THE PRESENCE OF SUCH THIRD PARTY ON THE SITE</span>.</p>


	<h3>11. Notice.</h3>


	<p>Except as explicitly stated otherwise, legal notices will be served, with respect to OP, on OP&#8217;s national registered agent, and, with respect to you, to the email address you provide to OP during the registration process. Notice will be deemed given 24 hours after email is sent, unless the sending party is notified that the email address is invalid. Alternatively, OP may give you legal notice by mail to the address provided during the registration process. In such case, notice will be deemed given three days after the date of mailing.</p>


	<h3>12. User Disagreements.</h3>


	<p>You alone are responsible for your involvement with other users. OP reserves the right, but has no obligation, to monitor disagreements between you and other users. If you have a dispute with one or more users, you irrevocably and forever release OP (and OP&#8217;s officers, directors, agents, subsidiaries, joint ventures and employees) from claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such disputes. <span class="caps">IF YOU ARE A CALIFORNIA RESIDENT</span>, YOU <span class="caps">WAIVE CALIFORNIA CIVIL CODE SECTION 1542</span>, WHICH <span class="caps">SAYS</span>: &#8220;A <span class="caps">GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE</span>, WHICH <span class="caps">IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR</span>.&#8221;</p>


	<h3>13. Disclaimers; No Warranties.</h3>


	<p><b>13.1.</b> UNLESS <span class="caps">OTHERWISE EXPRESSLY STATED BY OP</span>, THE <span class="caps">SITE AND ANY CONTENT</span>, SERVICES, <span class="caps">OR APPLICATIONS MADE AVAILABLE IN CONJUNCTION WITH OR THROUGH THE SITE ARE PROVIDED</span> &#8220;AS IS&#8221; <span class="caps">AND</span> &#8220;AS <span class="caps">AVAILABLE</span>&#8221; <span class="caps">WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED</span>. TO <span class="caps">THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW</span>, OP, <span class="caps">ITS SUPPLIERS AND PARTNERS DISCLAIM ALL WARRANTIES</span>, STATUTORY, <span class="caps">EXPRESS OR IMPLIED</span>, INCLUDING <span class="caps">BUT NOT LIMITED TO IMPLIED WARRANTIES OF MERCHANTABILITY</span>, FITNESS <span class="caps">FOR A PARTICULAR PURPOSE</span>, AND <span class="caps">NON</span>-INFRINGEMENT <span class="caps">OF PROPRIETARY RIGHTS</span>. OP, OP, <span class="caps">ITS SUPPLIERS AND PARTNERS DO NOT WARRANT THAT THE SITE AND ANY CONTENT</span>, SERVICES, <span class="caps">OR APPLICATIONS MADE AVAILABLE IN CONJUNCTION WITH OR THROUGH THE SITE ARE CORRECT</span>, ACCURATE, <span class="caps">OR RELIABLE</span>, WILL <span class="caps">BE UNINTERRUPTED OR ERROR</span>-FREE, <span class="caps">OR THAT DEFECTS WILL BE CORRECTED</span>.</p>


	<p><b>13.2.</b> CERTAIN <span class="caps">STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES</span>. IF <span class="caps">THESE LAWS APPLY TO YOU</span>, SOME <span class="caps">OR ALL OF THE ABOVE DISCLAIMERS</span>, EXCLUSIONS, <span class="caps">OR LIMITATIONS MAY NOT APPLY TO YOU</span>, AND <span class="caps">YOU MIGHT HAVE ADDITIONAL RIGHTS</span>.</p>


	<h3>14. Indemnification; Hold Harmless.</h3>


	<p>You agree to indemnify and hold OP, its affiliated companies, and its suppliers and partners harmless from any claims, losses, damages, liabilities, including attorney&#8217;s fees, arising out of your use or misuse of the Site, violation of these Terms, violation of the rights of any other person or entity, or any breach of the foregoing representations, warranties, and covenants. OP reserves the right, at our own expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us, and you agree to cooperate with our defense of these claims.</p>


	<h3>15. Waiver.</h3>


	<p>A provision of these Terms may be waived only by a written instrument executed by the party entitled to the benefit of such provision. The failure of any party at any time to require performance of any provision of these Terms will in no manner affect such party&#8217;s right at a later time to enforce the same. A waiver of any breach of any provision of these Terms will not be construed as a continuing waiver of other breaches of the same or other provisions of these Terms.</p>


	<h3>16. Limitation of Liability and Damages.</h3>


	<p><b>16.1.</b> UNDER <span class="caps">NO CIRCUMSTANCES</span>, INCLUDING <span class="caps">BUT NOT LIMITED TO NEGLIGENCE</span>, WILL <span class="caps">OP OR ITS AFFILIATES</span>, CONTRACTORS, <span class="caps">EMPLOYEES</span>, AGENTS, <span class="caps">OR THIRD</span>-PARTY <span class="caps">PARTNERS OR SUPPLIERS BE LIABLE FOR ANY SPECIAL</span>, INDIRECT, <span class="caps">INCIDENTAL</span>, CONSEQUENTIAL, <span class="caps">PUNITIVE</span>, OR <span class="caps">EXEMPLARY DAMAGES ARISING FROM OR RELATED TO THE USE OF THE SITE</span>, INCLUDING <span class="caps">THOSE THAT RESULT FROM THE USE OR THE INABILITY TO USE THE MATERIALS ON THE SITE</span>, OR <span class="caps">ANY OTHER INTERACTIONS WITH OP</span>, EVEN <span class="caps">IF OP OR A OP AUTHORIZED REPRESENTATIVE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES</span>. APPLICABLE <span class="caps">LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES</span>, SO <span class="caps">THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU</span>. IN <span class="caps">SUCH CASES</span>, OP&#8217;S <span class="caps">LIABILITY WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW</span>.</p>


	<p><b>16.2.</b> IN <span class="caps">NO EVENT WILL OP OR ITS AFFILIATES</span>, CONTRACTORS, <span class="caps">EMPLOYEES</span>, AGENTS, <span class="caps">OR THIRD</span>-PARTY <span class="caps">PARTNERS OR SUPPLIERS HAVE ANY LIABILITY TO YOU FOR DAMAGES</span>, LOSSES, <span class="caps">AND CAUSES OF ACTION ARISING OUT OF OR RELATING TO THESE TERMS OR YOUR USE OF THE SITE</span> (WHETHER <span class="caps">IN CONTRACT</span>, TORT <span class="caps">INCLUDING NEGLIGENCE</span>, WARRANTY, <span class="caps">OR OTHERWISE</span>).</p>


	<h3>17. Digital Millennium Copyright Act Compliance.</h3>


	<p>If you are a copyright owner or an agent thereof, and you believe that any content hosted on the Site infringes your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act (&#8220;DMCA&#8221;) by providing our Designated Copyright Agent with the following information in writing (see 17 U.S.C § 512&#169;(3) for further detail):</p>


	<p style="padding-left:1em;">(i) A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</p>


	<p style="padding-left:1em;">(ii) Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works on the Site are covered by a single notification, a representative list of such works at the Site;</p>


	<p style="padding-left:1em;">(iii) Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit OP to locate the material;</p>


	<p style="padding-left:1em;">(iv) Information reasonably sufficient to permit OP to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted;</p>


	<p style="padding-left:1em;">(v) A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</p>


	<p style="padding-left:1em;">(vi) A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>


	<p>OP&#8217;s Designated Copyright Agent to receive notifications of claimed infringement can be reached by email at copyright@originalprojects.com.</p>


	<p>For clarity, only <span class="caps">DMCA</span> notices should go to OP’s Designated Copyright Agent. Any other feedback, comments, requests for technical support or other communications should be directed to OP customer service through support@originalprojects.com. You acknowledge that if you fail to comply with all of the requirements of this section, your <span class="caps">DMCA</span> notice may not be valid.</p>


	<h3>18. <span class="caps">DISPUTE RESOLUTION</span>  </h3>


	<p><b>18.1.</b> <ins>General.</ins> Generally, if a dispute arises between OP and you, our goal is to provide you with a neutral and cost effective means of resolving the dispute quickly. Accordingly, you and OP agree that the parties will resolve any claim or controversy at law or equity that arises out of these Terms or the Site (a &#8220;Claim&#8221;) in accordance with one of the subsections below or as you and OP otherwise agree in writing. Before resorting to these alternatives, OP strongly encourages you to first contact us directly to seek a resolution. OP will consider reasonable requests to resolve the dispute through alternative dispute resolution procedures, such as mediation or arbitration, as alternatives to litigation.  </p>


	<p><b>18.2.</b> <ins>Choice of Law; Forum.</ins> These Terms shall be governed in all respects by the laws of the State of California as they apply to agreements entered into and to be performed entirely within California between California residents, without regard to conflict of law provisions. You agree that any claim or dispute you may have against OP must be resolved by a court located in Santa Clara County, California, except as otherwise agreed by the parties or as described in the Arbitration Option paragraph below. You agree to submit to the personal jurisdiction of the courts located within Santa Clara County, California for the purpose of litigating all such claims or disputes.  </p>


	<p><b>18.3.</b> <ins>Arbitration Option.</ins> For any claim (excluding claims for injunctive or other equitable relief) where the total amount of the award sought is less than $10,000, the party requesting relief may elect to resolve the dispute in a cost effective manner through binding, non-appearance-based arbitration. In the event a party elects arbitration, they shall initiate such arbitration through an established alternative dispute resolution (&#8220;ADR&#8221;) provider mutually agreed upon by the parties. The <span class="caps">ADR</span> provider and the parties must comply with the following rules: (i) the arbitration shall be conducted by telephone, online and/or be solely based on written submissions, the specific manner shall be chosen by the party initiating the arbitration; (ii) the arbitration shall not require any personal appearance by the parties or witnesses unless otherwise mutually agreed by the parties; and (iii) any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction.</p>


	<h3>19. Miscellaneous.</h3>


	<p><b>19.1.</b> <ins>Severability.</ins> If any provision of these Terms shall be unlawful, void, or for any reason unenforceable, then that provision will be deemed severable from these Terms and will not affect the validity and enforceability of any remaining provisions.</p>


	<p><b>19.2.</b> <ins>Assignment.</ins> The Terms and related Guidelines, and any rights and licenses granted hereunder, may not be transferred or assigned by you but may be assigned by OP without restriction.</p>


	<p><b>19.3.</b> <ins>Survival.</ins> Sections 2, 3, 5, 6, 7, and 9 through 19 will survive any termination of these Terms.</p>


	<p><b>19.4.</b> <ins>Headings.</ins> The heading references herein are for convenience purposes only, do not constitute a part of these Terms, and will not be deemed to limit or affect any of the provisions hereof.</p>


	<p><b>19.5.</b> <ins>Entire Agreement.</ins> This is the entire agreement between you and OP relating to the subject matter herein and will not be modified except in writing, signed by both parties, or by a change to these Terms or Guidelines made by OP as set forth in Section 7 above.</p>


	<p><b>19.6.</b> <ins>Claims.</ins> YOU <span class="caps">AND OP AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THESE TERMS OR THE SITE MUST COMMENCE WITHIN ONE YEAR AFTER THE CAUSE OF ACTION ACCRUES</span>. OTHERWISE, <span class="caps">SUCH CAUSE OF ACTION IS PERMANENTLY BARRED</span>.</p>


	<p><b>19.7.</b> <ins>Disclosures.</ins> The services hereunder are offered by Original Projects, Inc., located at:</p>


  <p>211 Rigsbee Avenue, Second Floor<br />
    Durham, North Carolina 27701<br />
    help@originalprojects.com</p>

	<p>If you are a California resident, you may have this same information emailed to you by sending a letter to the foregoing address with your email address and a request for this information.</p>

</div>