<% content_for :page_title, 'Store' %>

<div id="content">

   <div class="column col_100">
      <h1>Original Projects Store</h1>
      <p>Coming Soon</p>
   </div>

</div>

<div id="sidebar">
  <%= render :partial => "shared/search_box" %>

  <div class="module featured"><a class="img_link" href="#"><img src="/images/sidebar/ad_nolo_160x110.png" alt="" /></a></div>

  <div class="module"><a href="#">TEXT AD</a>: example</div>

  <div class="module"><a href="#">TEXT AD</a>: example</div>

</div>

  <br class="clear" />



