<% content_for :music do %>
  <div class="module promo promo_pair">
    <h2>original music</h2>
    <a href="http://itunes.apple.com/us/album/feather/id336874732?i=336874791">
      <img src="/images/sidebar/little_dragon.jpg" alt="little dragon" />
    </a>
    <div>
      <strong>Little Dragon</strong><br />
      Machine Dreams <br />
      <a href="http://itunes.apple.com/us/album/feather/id336874732?i=336874791">iTunes <span class="arrow">&rarr;</span></a>
    </div>
  </div>
<% end %>

<% content_for :books do %>
  <div class="module promo promo_pair">
    <h2>original books</h2>
    <a href="http://www.amazon.com/Pirates-Dilemma-Culture-Reinventing-Capitalism/dp/141653220X/ref=sr_1_1?ie=UTF8&s=books&qid=1261579351&sr=1-1#noop">
      <img src="/images/sidebar/pirates_dilemma_sidebar.jpg" alt="pirates_dilemna" />
    </a>
    <div>
      <strong>The Pirate's Dilemma</strong><br/>
      Matt Mason<br/>
      <a href="http://www.amazon.com/Pirates-Dilemma-Culture-Reinventing-Capitalism/dp/141653220X/ref=sr_1_1?ie=UTF8&s=books&qid=1261579351&sr=1-1#noop">Amazon <span class="arrow">&rarr;</span></a>
    </div>
  </div>
<% end %>

<% content_for :movies do %>
  <div class="module promo promo_pair">
    <h2>original movies</h2>
    <a href="http://en.wikipedia.org/wiki/Brick_(film)">
      <img src="/images/sidebar/brick_sidebar.jpg" alt="brick" />
    </a>
    <div>
      <a href="http://en.wikipedia.org/wiki/Brick_(film)">Brick</a>
    </div>
  </div>
<% end %>

<% content_for :museums do %>
  <div class="module promo promo_pair">
    <h2>original museums</h2>
    <a href="http://www.MuSuNaHi.com">
      <img src="/images/sidebar/musunahi_sidebar.jpg" alt="musunahi" />
    </a>
    <div>
      <a href="http://www.MuSuNaHi.com">The Museum of Supernatural History</a>
    </div>
  </div>
<% end %>

<% content_for :advertising do %>
  <div class="module promo">
    <h2>original advertising</h2>
    <div>
      <a href="http://dreams.honda.com/">The Power of Dreams</a>
    </div>
  </div>
<% end %>

<% content_for :productions do %>
  <div class="module promo promo_pair">
    <h2>original productions</h2>
    <a href="http://www.redbucketfilms.com">
      <img src="/images/sidebar/red_bucket.jpg" alt="red_bucket" />
    </a>
    <div>
      <a href="http://www.redbucketfilms.com/">Red Bucket Films</a>
    </div>
  </div>
<% end %>

<% content_for :promotion do %>
  <div class="module promo promo_pair">
    <h2>original promotion</h2>
    <a href="http://www.youtube.com/watch?v=SC-2VGBHFQI">
      <img src="/images/sidebar/googly_sidebar.jpg" alt="googly" />
    </a>
    <div>
      <a href="http://www.youtube.com/watch?v=SC-2VGBHFQI">Googly</a>
    </div>
  </div>
<% end %>

<% content_for :stores do %>
  <div class="module promo promo_pair">
    <h2>original stores</h2>
    <a href="http://www.partnersandspade.com">
      <img src="/images/sidebar/partners_spade_sidebar.jpg" alt="partners and spade" />
    </a>
    <div>
      <a href="http://www.partnersandspade.com">Partners and Spade</a>
    </div>
  </div>
<% end %>

<% content_for :competitions do %>
  <div class="module promo promo_pair">
    <h2>original competitions</h2>
    <a href="http://www.usairguitar.com/rules/">
      <img src="/images/sidebar/air_guitar_sidebar.jpg" alt="air_guitar" />
    </a>
    <div>
      <a href="http://www.usairguitar.com/rules/">Air Guitar</a>
    </div>
  </div>
<% end %>

<% content_for :cartoons do %>
  <div class="module promo promo_pair">
    <h2>original cartoons</h2>
    <a href="http://catalog.ebay.com/Spy-Vs-Spy-Antonio-Prohias-2001-Paperback-Illustrated-/1920638?_fifpts=1&_pcatid=4&_refkw=spy+vs.+spy&_trksid=p3286.c0.m271">
      <img src="/images/sidebar/spy_vs_spy_sidebar.jpg" alt="spy vs spy" />
    </a>
    <div>
      <a href="http://catalog.ebay.com/Spy-Vs-Spy-Antonio-Prohias-2001-Paperback-Illustrated-/1920638?_fifpts=1&_pcatid=4&_refkw=spy+vs.+spy&_trksid=p3286.c0.m271">Spy vs. Spy</a>
    </div>
  </div>
<% end %>

<% content_for :quotes do %>
  <div class="module promo quote_promo">
    <h2>original quotes</h2>
    <p>“Imagination rules the world.”<p>
    &ndash; Napoleon Bonaparte
  </div>
<% end %>

<% content_for :art do %>
  <div class="module promo promo_pair">
    <h2>original art</h2>
    <a href="http://www.owerko.com/">
      <img src="/images/sidebar/boombox_sidebar.jpg" alt="boombox" />
    </a>
    <div>
      <a href="http://www.owerko.com/">The Boombox Project</a><br />
      Lyle Owerko
    </div>
  </div>
<% end %>

<% content_for :weird do %>
  <div class="module promo promo_pair">
    <h2>original weird</h2>
    <a href="http://www.neave.com/television/">
      <img src="/images/sidebar/neave_sidebar.jpg" alt="neave" />
    </a>
    <div>
      <a href="http://www.neave.com/television/">Neave Television</a>
    </div>
  </div>
<% end %>

<% content_for :cool do %>
  <div class="module promo promo_pair">
    <h2>original art</h2>
    <a href="http://www.flickr.com/photos/laserbread/sets/72157612019716787/">
      <img src="/images/sidebar/make_something_cool_sidebar.jpg" alt="make something cool" />
    </a>
    <div>
      <a href="http://www.flickr.com/photos/laserbread/sets/72157612019716787/">
        Make Something Cool Every Day
      </a>
    </div>
  </div>
<% end %>

<% content_for :games do %>
  <div class="module promo promo_pair">
    <h2>original games</h2>
    <a href="http://www.braid-game.com/">
      <img src="/images/sidebar/braid_sidebar.jpg" alt="braid" />
    </a>
    <div>
      <a href="http://www.braid-game.com/">Braid</a>
    </div>
  </div>
<% end %>

<%
  @sections = %w(music books movies museums advertising productions promotion stores competitions cartoons quotes art weird cool games)
%>

<% @sections.sort_by { rand }.first(number).each do |section| -%>
  <%= yield section %>
<% end %>
