<div id="sidebar">
  <%= render :partial => "shared/search_box" %>
  <%= yield :sidebar %>

  <div class="module featured promo promo_pair">
     <h2>Original Services</h2>
     <a href="javascript:;">
     <img src="/images/sidebar/ad_nolo_50x50.jpg" alt="" />
     </a>
     <div>
        <a href="javascript:;">NOLO:</a> Incorporate your project as a business
     </div>
     <br class="clear" />
  </div>
  
  <div class="module promo promo_pair">
     <h2>Original Projects</h2>
     <a href="javascript:;">
     <img src="/images/sidebar/project_promo.jpg" alt="" />
     </a>
     <div>
        <a href="/projects/swashbot/">Swashbot</a><br/>
        Gold Medal RoboGames 2008
     </div>
     <br class="clear" />
  </div>  

</div>